    <!-- banner -->
    <div class="bg-bomb pb-lg-25 mt-n15 mt-0 py-24 mb-n25">
        <div class="container">
          <div class=" position-relative">
            <!-- MHT-text -->
            <div class="row fs-4 position-absolute font-garamond start-0 text-white">
              <p class="d-none d-md-block col-lg-1 fs-11 text-end">1945<br>07<br>16</p>
              <p class="d-none d-md-block col-lg-3 mt-6 border-start">“The top-secret Manhattan Project resulted in the atomic bombs dropped
                on the
                Japanese cities of Hiroshima and Nagasaki in 1945.
              </p>
  
            </div>
            <!-- MHT-title -->
            <h2 class="font-garamond pt-lg-27 fs-7 fst-italic lh-1 text-end text-white text-break" data-aos="fade-up"><span
                class="font-ebgaramond fs-8">“</span>MANHATTAN<br>PROJECT</h2>
          </div>
        </div>
      </div>
    