<nav class="navbar navbar-expand-lg navbar-dark mb-n15 d-none d-md-block" style="--bs-bg-opacity: .5">
    <!-- bg-secondary border-bottom border-white -->
    <div class="container container-fluid">
        <!-- 漢堡按鈕 -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- logo -->
        <h1 class="mb-lg-0"></h1><a class="navbar-brand font-saira fs-2 text-primary" href="./index.html">MANHATTAN <i
                class="fa-solid fa-explosion fa-sm"></i> PROJECT</a></h1>
        <!-- 下拉選單 -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- PC_navbar_中間 -->
            <ul class="navbar-nav mx-lg-auto mb-2 mb-lg-0 gap-2 gap-lg-7 font-noto-sans">
                <li class="nav-item">
                    <a class="nav-link" href="../pages/scientist.html">Scientist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../pages/about.html">About Project
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../pages/nations.html">Other Nations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../pages/contact.html">Contact us</a>
                </li>
            </ul>
            <!-- PC_navbar_右邊 -->
            <ul class="navbar-nav gap-2 pb-4 pb-lg-0 gap-lg-2">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-brands fa-facebook fa-xl"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-brands fa-youtube fa-xl"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark mb-n15 d-block d-md-none bg-success" >
    <!-- bg-secondary border-bottom border-white -->
    <div class="container container-fluid">
        <!-- 漢堡按鈕 -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- logo -->
        <h1 class="mb-lg-0"></h1><a class="navbar-brand font-saira fs-2 text-primary" href="./index.html">MANHATTAN <i
                class="fa-solid fa-explosion fa-sm"></i> PROJECT</a></h1>
        <!-- 下拉選單 -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- PC_navbar_中間 -->
            <ul class="navbar-nav mx-lg-auto mb-2 mb-lg-0 gap-2 gap-lg-7 font-noto-sans">
                <li class="nav-item">
                    <a class="nav-link" href="../pages/scientist.html">Scientist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../pages/about.html">About Project
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../pages/nations.html">Other Nations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../pages/contact.html">Contact us</a>
                </li>
            </ul>
            <!-- PC_navbar_右邊 -->
            <ul class="navbar-nav gap-2 pb-4 pb-lg-0 gap-lg-2">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-brands fa-facebook fa-xl"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-brands fa-youtube fa-xl"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>