<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <%- include('./layout/banner'); -%>
            <div class="container ">
                <h2 class="col-lg-6 bg-secondary py-6 px-6 font-garamond fs-7 mt-22 mt-lg-20 lh-1 my-6"
                    data-aos="fade-right"><span class="text-white">About</span> the Project.</h2>
                <ul class="p-0 py-lg-4">      
                    <li class="row py-lg-2 " data-aos="fade-up">
                        <div class="col-lg-5 fs-8 font-saira fw-bold text-white text-end lh-1 border-bottom border-2 border-success">1939</div>
                        <div class="col-lg-1 mt-5 mt-lg-0 d-flex align-items-center justify-content-center"><p><i class="fa-solid fa-burst fa-2xl "></i></p></div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <p class="fs-4 font-ebgaramond mb-0">愛因斯坦簽署了一封給羅斯福總統的信，提出了原子能利用的潛力和可能的軍事應用。</p>
                        </div>
                    </li>
                    <li class="row py-lg-2 " data-aos="fade-up">
                        <div class="col-lg-5 fs-8 font-saira fw-bold text-white text-end lh-1 border-bottom border-2 border-success">1939</div>
                        <div class="col-lg-1 mt-5 mt-lg-0  d-flex align-items-center justify-content-center"><p><i class="fa-solid fa-burst fa-2xl "></i></p></div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <p class="fs-4 font-ebgaramond mb-0">義大利裔物理學家貝尼奧·費米提出了一個關於核裂變的理論</p>
                        </div>
                    </li>
                    <li class="row py-lg-2 " data-aos="fade-up">
                        <div class="col-lg-5 fs-8 font-saira fw-bold text-white text-end lh-1 border-bottom border-2 border-success">1940</div>
                        <div class="col-lg-1 mt-5 mt-lg-0  d-flex align-items-center justify-content-center"><p><i class="fa-solid fa-burst fa-2xl "></i></p></div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <p class="fs-4 font-ebgaramond mb-0">美國國防研究委員會成立，開始研究核裂變和原子能利用。</p>
                        </div>
                    </li>
                    <li class="row py-lg-2 " data-aos="fade-up">
                        <div class="col-lg-5 fs-8 font-saira fw-bold text-white text-end lh-1 border-bottom border-2 border-success">1942</div>
                        <div class="col-lg-1 mt-5 mt-lg-0 d-flex align-items-center justify-content-center"><p><i class="fa-solid fa-burst fa-2xl "></i></p></div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <p class="fs-4 font-ebgaramond mb-0">美國陸軍工程兵團成立了曼哈頓工程，負責開發原子彈。</p>
                        </div>
                    </li>
                    <li class="row py-lg-2 " data-aos="fade-up">
                        <div class="col-lg-5 fs-8 font-saira fw-bold text-white text-end lh-1 border-bottom border-2 border-success">1942</div>
                        <div class="col-lg-1 mt-5 mt-lg-0 d-flex align-items-center justify-content-center"><p><i class="fa-solid fa-burst fa-2xl "></i></p></div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <p class="fs-4 font-ebgaramond mb-0">芝加哥大學開始進行第一個核鏈反應實驗，被稱為芝加哥樞機實驗。</p>
                        </div>
                    </li>
                    <li class="row py-lg-2 " data-aos="fade-up">
                        <div class="col-lg-5 fs-8 font-saira fw-bold text-white text-end lh-1 border-bottom border-2 border-success">1943</div>
                        <div class="col-lg-1 mt-5 mt-lg-0 d-flex align-items-center justify-content-center"><p><i class="fa-solid fa-burst fa-2xl "></i></p></div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <p class="fs-4 font-ebgaramond mb-0">麥克阿瑟將軍被任命為曼哈頓工程的負責人。</p>
                        </div>
                    </li>
                    <li class="row py-lg-2 " data-aos="fade-up">
                        <div class="col-lg-5 fs-8 font-saira fw-bold text-white text-end lh-1 border-bottom border-2 border-success">1945</div>
                        <div class="col-lg-1 mt-5 mt-lg-0 d-flex align-items-center justify-content-center"><p><i class="fa-solid fa-burst fa-2xl "></i></p></div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <p class="fs-4 font-ebgaramond mb-0">在新墨西哥州的洛斯阿拉莫斯進行了第一次核武器試爆，代號為「瘋狂的馬丁」。</p>
                        </div>
                    </li>
                    <li class="row py-lg-2 " data-aos="fade-up">
                        <div class="col-lg-5 fs-8 font-saira fw-bold text-white text-end lh-1 border-bottom border-2 border-success">1945</div>
                        <div class="col-lg-1 mt-5 mt-lg-0 d-flex align-items-center justify-content-center"><p><i class="fa-solid fa-burst fa-2xl "></i></p></div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <p class="fs-4 font-ebgaramond mb-0">美軍在廣島投下了第一顆原子彈。</p>
                        </div>
                    </li>
                    <li class="row py-lg-2 " data-aos="fade-up">
                        <div class="col-lg-5 fs-8 font-saira fw-bold text-white text-end lh-1 border-bottom border-2 border-success">1945</div>
                        <div class="col-lg-1 mt-5 mt-lg-0 d-flex align-items-center justify-content-center"><p><i class="fa-solid fa-burst fa-2xl "></i></p></div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <p class="fs-4 font-ebgaramond mb-0">美軍在長崎投下了第二顆原子彈，日本宣布無條件投降，二戰正式結束。</p>
                        </div>
                    </li>
                    <li class="row py-lg-2 " data-aos="fade-up">
                        <div class="col-lg-5 fs-8 font-saira fw-bold text-white text-end lh-1 border-bottom border-2 border-success">1946</div>
                        <div class="col-lg-1 mt-5 mt-lg-0 d-flex align-items-center justify-content-center"><p><i class="fa-solid fa-burst fa-2xl "></i></p></div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <p class="fs-4 font-ebgaramond mb-0">曼哈頓計劃結束，負責原子彈研究的工程團隊解散。</p>
                        </div>
                    </li>
                </ul>
            </div>
            <%- include('./layout/footer'); -%>
                <!-- aos -->
                <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
                <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
                <script>
                    AOS.init();
                </script>

                <script type="module" src="../main.js"></script>
</body>

</html>